* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 0;
}

header {
    display: flex;
}


button {
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0;
 flex-shrink: 0;
}

img {
    width: 100%;
display: block;
}

.star-icon {
    width: 2rem;
}

