@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1.5rem;
    background-color: #F8EEFF;
    background-image: url("./assets/images/background-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
}

.faq-item {
    padding: 1rem 0;
}

h1 {
    font-weight: 700;
    font-size: 1.5rem;
}

h2 {
    font-weight: 600;
    font-size: 1.25rem;
}

h1, h2 {
    color: hsl(292, 42%, 14%)
}

p {
    font-weight: 400;
    font-size: 1rem;
    color: hsl(292, 16%, 49%);
    margin-top: 0.75rem;
}


.faq-question {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 0;
    gap: 1rem;
}

header {
    display: flex;
}


button {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0;
 flex-shrink: 0;
 background-color: #AD28EB;
    border: none;
    cursor: pointer;
    color: white;
    -webkit-tap-highlight-color: transparent;
}

img {
    width: 100%;
display: block;
}

.star-icon {
    width: 2rem;
}

.faq-question:hover button {
    background-color: #8F1EC6;
    color: white;
}

.faq-question button:focus-visible {
  outline: 2px solid #AD28EB;
  outline-offset: 3px;
}

.faq-question button{
    transition: background-color 0.2s ease, color 0.2s ease;
}

@media (min-width: 768px) {
  body {
    background-image: url("./assets/images/background-pattern-desktop.svg");
  }
}   

.faq-answer {
    display: none;
}

.faq-item.active .faq-answer {
    display: block;
}